#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color: black;
  background-color: green;
}

 body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: green;
}

h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: gold;
  background-color: rgb(3, 80, 26); 
  z-index: 9999; 
}

.Billy {
  width: 80px; 
  height: auto; 
  position: absolute;
  max-width: 100%;
}

.Billy#right {
  top: 40px;
  left: 64.5%;
  z-index: 99999;
}

.Billy#left {
  top: 40px;
  right: 64.5%;
  z-index: 99999;
}

@media only screen and (max-width: 600px) {
  .Billy {
    max-width: 80%; /* Adjust as needed */
  }
}
